.div5
{
     background-color:white; padding: 30px;font-weight: bold;
     font-size: 30px;color:black; text-align: center;
    
}
.atn {
     background-color:rgb(1, 34, 48);color: white;
     }
.mtn{
            background: linear-gradient(to right,rgb(90, 170, 204),rgb(1, 34, 48) )
     }
.ptn{
          background: linear-gradient(to right,rgb(131, 198, 226),rgb(5, 74, 104) )
}
.wtn{
     background: linear-gradient(to right,rgb(144, 205, 231),rgb(3, 74, 104) )
}
.ttn{
     background: linear-gradient(to top, rgb(1, 34, 48) , rgb(90, 170, 204))

}
.tt{
     color:white;font-size:35px; 
}
.t1{
     color:white;font-size:20px; 
}